/*.navbar-brand{

}*/

/* html{
    overflow-x: hidden;
} */
.navbar-toggler{
    background-color:rgba(221, 213, 213, 0.589);
}
.PostJobsBtn{
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 19px;
    width: 8em;
    color:#000000;

}
.PostJobsBtn:hover{
    background-color: crimson;
    color:#ffffff;
}
.navbar-nav > .nav-item > .nav-link{
  color:#000000;
}

.link-buttons > .btn-link{
  color:#000000;
}

.HeroImage{
    height: 570px;
    background-image: linear-gradient(90deg,rgba(40, 40, 210, 0.39), rgba(40, 40, 210, 0.384)), url("../assets/images/heroImage.jpg");
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.searchArea > .input-group,.btn{
  box-sizing: border-box;
}
.searchArea > .input-group >.form-control {
  height: 52px;
}

.searchArea > .input-group > div > span{
  padding-top: 16px;
  padding-bottom: 2px;
}

.category-button{
  border: 2px solid #ffffff;
  color: #ffffff;
}
.category-button:hover{
  border: 2px dashed #ffffff;
  color: #ffffff;
}

.Resume{
    height: 400px;
    background-image: linear-gradient(90deg,rgba(40, 40, 210, 0.5), rgba(40, 40, 210, 0.5)), url("../assets/images/createanacount.jpg");
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.resume-createAcount-btn{
  border: 2px solid white;
  color: white;
}
.Em-brand{
    background-image: url("../assets/icons/jobHunt.png");
}

.navbar{
    transition:500ms ease;
  }
 
.grid > a:link {
    text-decoration: none;
  }

.category > p{
  color:#e91e63;
}
.BrowseAllCategpories{
  border: 2px solid #e91e63;
}

/*
signup form
*/
#id01{
  background-color:rgba(100, 100, 100, 0.6);
  
}

#happyCandidates{
    background:linear-gradient(rgba(28, 29, 70, 0.5), rgba(28, 29, 70, 0.5)), url("../assets/images/happyBg.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }
 .getQuestion{
  background:linear-gradient(90deg,rgba(40, 40, 210, 0.8), rgba(40, 40, 210, 0.8)),url("../assets/images/hypnotize.png");
  background-position:top;
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
}
 

.footer > *{
    color:white;
}
/* mobile device*/
@media(max-width:712px){
   .featuredJobs{
       flex-direction: column !important;
       align-items: center;
   }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  
   }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
