
/* body >*>*{
  border: 1px solid red; just for testing, to see the width and the height of body sub sub elements
} */

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cherry+Swash&display=swap');

.navbar-toggler{
    background-color:rgb(255, 255, 255);
}
.PostJobsBtn{
    background-color: rgb(214, 126, 126);
    border-radius: 19px;
    width: 7em;
    color:#ffffff;
}
.PostJobsBtn:hover{
    background-color: rgb(209, 60, 85);
    color:#ffffff;
}
.navbar-nav > .nav-item > .nav-link{
  color:#ffffff;
}

#navbarDropdown00:link,#navbarDropdown01:link{
  text-decoration: none;
  padding: 8px;
  color: #ffffff;
}

#navbarDropdown00:visited,#navbarDropdown01:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
  
  
#navbarDropdown00:hover,#navbarDropdown01:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
  
  
#navbarDropdown00:active,#navbarDropdown01:active {
  color: rgb(255, 255, 255);
}

.link-buttons > .btn-link{
  color:#ffffff;
}

.HeroImage{
  height: 570px;
  background-image: linear-gradient(90deg,rgba(40, 40, 210, 0.39), rgba(40, 40, 210, 0.384)), url("../assets/images/heroImage.jpg");
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.searchArea > .input-group,.btn{
  box-sizing: border-box;
}
.searchArea > .input-group >.form-control {
  height: 52px;
}

.searchArea > .input-group > div > span{
  padding-top: 16px;
  padding-bottom: 2px;
}

.category-button{
  border: 2px solid #ffffff;
  color: #ffffff;
}
.category-button:hover{
  border: 2px dashed #ffffff;
  color: #ffffff;
}

.Resume{
  background-image: linear-gradient(90deg,rgba(40, 40, 210, 0.5), rgba(40, 40, 210, 0.5)), url("../assets/images/createanacount.jpg");
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.resume-createAcount-btn{
  border: 2px solid white;
  color: white;
  width: fit-content;
}
.Em-brand{
    background-image: url("../assets/icons/jobHunt.png");
}
.categories > div > a{
  text-decoration: none;
}
.category > p{
  color:#e91e63;
}
.BrowseAllCategpories{
  border: 2px solid #e91e63;
}
#happyCandidates{
  background:linear-gradient(rgba(28, 29, 70, 0.5), rgba(28, 29, 70, 0.5)), url("../assets/images/happyCandidate.jpg");
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }
.candidatesAvatar{
  margin-top: -50px;
  margin-left: 10px;
}
.quoteImage{
  width: 32px;
  height: 32px;
  background:url("../assets/icons/quote.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 25px;
  right: 35px;
}
.blueSeparator{
  height: 39px;
  background:url("../assets/images/blue-Separator.png");
  background-position:top;
  background-repeat: repeat;
  background-size: contain;
  background-attachment: scroll;
}
.redSeparator{
  margin-top:32px;
  height: 39px;
  background:url("../assets/images/red-separator.png");
  background-position:top;
  background-repeat: repeat;
  background-size: contain;
  background-attachment: scroll;
}
.careerTipsCard{
  position: relative;
  left:7px;
  margin-top:-48px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: rgb(255, 255, 255);
  width: 95%;
}
.card{
  border: 0; box-shadow: 1px 1px 10px 1px #888888;
}


.findJobs > ul >li >a:link{
  text-decoration: none;
  padding: 8px;
}

.findJobs > ul >li >a:visited {
  color: rgb(100, 100, 100);
  text-decoration: none;
}
  
  
.findJobs > ul >li >a:hover {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.findJobs > ul >li >a:active {
  border:1px solid #ffffff;
}
.findJobs > ul >li {
  padding-top: 8px;
}

#info000:link{
  text-decoration: none;
  padding: 4px;
  color: rgb(100, 100, 100);
}
#info000:visited {
  color: rgb(100, 100, 100);
  text-decoration: none;
}
#info000:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#info000:active {
  border:1px solid #ffffff;
}
.testBorder{
  border: 2px rgb(0, 255, 255) solid;
}
.facebook:hover .fa-facebook-f{
  color:	#3b5998;
}
.twitter:hover .fa-twitter{
  color:	#55acee;
}
.instagram:hover .fa-instagram{
  color:#3f729b;
}
.pinterest:hover .fa-pinterest-p{
  color:#bd081c;
}
.googlePlus:hover .fa-google-plus-g{
  color: 	#dc4e41;
}
.playStore:hover .fa-google-play{
  color:  #48b7eb;
}
.appStore:hover .fa-app-store{
  color:  #2196f3;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Ubuntu', sans-serif;
}
p > *,p,small,#info000{
  font-family: 'Hind Siliguri', sans-serif;
}

/* mobile device*/

@media(max-width:712px){
  .featuredJobs{
    flex-direction: column !important;
    align-items: center;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .smallMargin{
    margin-top:22px;
  }
 }

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  .smallMargin{
    margin-top:22px;
  }
  #stores{
    position: relative;
    top:30%;
  }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  #stores{
    position: relative;
    top:30%;
  }
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) { 
  #stores{
    position: relative;
    top:30%;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) { 
  #stores{
    position: relative;
    top:30%;
  }
}
